body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  text-decoration: none;
}
.main{
  width: 100%;
 height: 100vh;
  display: grid;
  grid-template-columns: 240px 1fr;
}

.container{
  height: 100%;
  /* background-color:grey; */
  display: grid;
  grid-template-rows: 10vh 1fr;
}
.container nav{
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 2vh;
}
.centerDiv{
  /* background-color:purple; */
  display: grid;
  grid-template-columns: 1fr 300px;
}
.foodBody{
  padding: 2vh;
  /* background-color:blueviolet; */
  overflow: hidden;
  overflow-y: auto;
  background-color: #f2f3f4;
}
.foodBody::-webkit-scrollbar{
  display: none;
}

.cart{
  background-color: #fff;
}

/* menubar css */
.menubar{
  background-color: rgb(5, 141, 5);
  height: 100%;
}
.heading{
  display: flex;
  justify-content: center;
  padding: 3vh 2vh 2vh;
}
.heading h1{
  font-size: 1.5rem;
  color: white;
  font-family:Arial, Helvetica, sans-serif
}
.userImg{
  width: 20vh;
  height: 20vh;
  margin: 2vh auto;
  border-radius: 50%;
}
.userImg img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.greet{
  padding: 0 5vh;
}
.greet p{
  font-size: 1.5rem;
  color: white;
}
.menubar nav{
  padding: 4vh 2vh 2vh;
}
.menubar ul{
  display: flex;
  flex-direction: column;
}
.menubar ul li{
  padding: 1.7vh 3vh;
  color: white;

}
.menubar ul li:hover{
  background-color:white;
  border-radius: 1vh;
  color: rgb(5, 141, 5);
}
.startBtn{
  margin: 5vh 0 0;
  display: flex;
  justify-content: center;
}
.startBtn button{
  padding: 1.5vh 3vh;
  border-radius: 1vh;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  outline: none;
  background-color:rgb(139, 11, 11);
  color: white;
}
.startBtn button:hover{
  border: 1px solid white;
}

/* navbar css */
.leftDiv{
  width: 50vh;
   /* background-color:red; */
   display: flex;

}
.rightDiv{
  width: 35vh;
  background-color:white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon{
  width: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3ead3;
  border-radius: 5px;
}
.leftDiv input{
  padding-left: 2vh;
  width: 100%;
  border: none;
  outline: none;
  background-color: #f2f3f4;
  border-radius: 5px;
  font-size: 1rem;
}
.smallInfo{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.smallImg{
  width: 5vh;
 height: 5vh;
  border-radius: 50%;
}
.smallImg img{
  width: 100%;
  height: 5vh;
  border-radius: 50%;
}
.rightDiv li{
  list-style: none;
}
.smallInfo p{
  margin: 0 1vh;
  color:  rgb(5, 141, 5);
}
.smallInfo i{
 color:  rgb(5, 141, 5);
}

/* food body css */
.firstLine{
  width: 100%;
  box-sizing: border-box;
  position: relative;
  /* background-color:red; */
}
.firstLine p{
  color:  rgb(5, 141, 5);
  box-sizing: border-box;
  font-size: 1.2rem;
}
.items{
  width: 100%;
  box-sizing: border-box;
  background-color: #f2f3f4;
}

.item{
  width: 27vh;
  height: 30vh;
  margin: 2vh 0 2vh 5vh;
  background-color: #fff;
  float: left;
  border-radius: 1.5vh;
  position: relative;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
} 
.itemImg{
  width: 100%;
  height: 20vh;
}
.itemImg i{
  position: absolute;
  top: 5px;
  left: 80%;
  color: white;
  font-size: 1.5rem;
}
.itemImg i:hover{
 transform: scale(1.1);
}

.itemImg img{
  width: 100%;
  height: 100%;
}
.secondLine{
  width: 100%;
  margin: 0;
  background-color:white;
}
.itemheading{
  padding: 2vh 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.changeIcon{
  width: 10vh;
  display: flex;
  justify-content: space-between;
}
.itemheading p{
  font-size: 1.2rem;
  background-color: #f2f3f4;
  color:  rgb(5, 141, 5); 
}
.changeIcon i{
  font-size: 1.5rem;
  color:green;
}
.changeIcon i:hover{
  color: grey;
}

.item1{
  margin: 7vh;
}
.forScroll{
  overflow: hidden;
  overflow-x: auto;
}
.forScroll::-webkit-scrollbar{
  height: 3px;
}
.forScroll::-webkit-scrollbar-thumb{
  width: 2vh;
  background-color:black;
}

.twoItems{
  width: fit-content;
  display: flex;
  align-items: center;
}

.item1{
  width:50vh;
  height: 40vh;
  background-color: #fff;
  border-radius:2.5vh ;
}
.item1Img{
  width: 100%;
  height:30vh;
  background-color:green;
  position: relative;
}
.item1Img i{
  position: absolute;
  top: 5%;
  left: 80%;
  font-size: 2rem;
  color: white;
}
.item1Img i:hover{
  transform: scale(1.2);
}
.item1Img img{
  width: 100%;
  height: 100%;
}

.item1Details{
  height:10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  padding: 0 2vh;
  font-size: 1.3rem;
  color: green;
}
/* cart section css */
.cartFirst{
  width: 80%;
  margin: auto;
  padding: 2vh 0;
}
.myOrderHeading{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.timing,.address,.warning{
  margin-top: 2vh;
  width: 100%;
 display: flex;
 align-items: center;
}
.timing p,.address p,.warning p{
  margin-left:2vh ;
}
.icon img{
  width: 100%;
  height: 100%;
}
.icon i{
  padding: 1rem;
  font-size: 0.7rem;
}


.cartSecond{
  width: 80%;
  height: 30vh;
  overflow-y: auto;
  margin: 2vh auto;
}
.cartSecond::-webkit-scrollbar{
  width: 3px;
  background-color:white;
}
.cartSecond::-webkit-scrollbar-thumb{
  width: 5px;
  background-color:green;
  border-radius:5px;
}
.cartItem{
  display: flex;
  margin-top: 1vh;
}
.itemDetails{
  width: 100%;
  height: 10vh;
  padding: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.2rem;
}
.icon1{
  width: 10vh;
  height: 8vh;
}
.icon1 img{
   width:100%;
   height: 100%;
}
.itemDetails1{
  width: 100%;
  display: flex;
  padding: 1vh;
  justify-content: space-between;
  align-items: center;
}

.cartBtn{
  width: 12vh;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: grey;
  font-size: 1.2rem;
  border-radius: 10px;
  padding: 0 1vh;
  border: 1px solid green;
}
.cartBtn i{
  color:green;
}
.cartBtn i:hover{
 
  color:grey;
}
.cartThird{
  width: 80%;
  margin: 5vh auto 0;
  padding: 2vh 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.checkOutBtn{
  width: 80%;
  margin: 0 auto 0;
  background-color:rgb(0, 117, 0);
  text-align: center;
  padding: 1.5vh 0;
  border-radius: 2vh;
  color: white;
  font-weight: 600;
}
.checkOutBtn:hover{
  background-color:rgb(23, 154, 23);
}
.showUser{
  position: absolute;
  top:8%;
  right: 2vh;
  box-sizing: border-box;
  background-color:green;
  border-radius:1vh;
  display: none;
}
.showUser ul{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.showUser ul li{
  padding: 2vh 5vh;
  color: white;
}
.homeCart{
  background-color: #fff;
  display: flex;
}
.homeCart p{
  padding: 0 2vh;
  font-size: 4vh;
  font-weight: bold;
}
.hpmain{
  width: 100%;
  height: 100vh;
  position: relative;
}
.hpmainc{
  width: 100%;
}
.hpmain img{
  width: 100%;
  height:100%;
}
.hpmainc{
  width: 100%;
  height: 100vh;
}
.form{
  width:20%;
  position: absolute;
  background-color: #fff;
  top:20vh;
  left:5%;
  padding: 4vh 0 ;
}
.name{
  width: 100%;
  box-sizing: border-box;
  padding: 0 2vh;
}
.greetme{
  width: 100%;
  padding: 0 2vh;
}
.greetme p{
  box-sizing: border-box;
  font-size: 1.2rem;
  font-weight: bold;
}
.name{
  width: 100%;
  margin-top: 2vh;
}
.name input{
  width: 100%;
  height: 4vh;
  border: none;
  margin-top: 5px;
  border-bottom: 1px solid grey;
  font-size: 1rem;
  color: grey;
  outline: none;
}
.name p{
  color: grey;
  padding: 0 1vh;
  font-size: 1rem;
}
.sex{
  width: 100%;
  padding:  2vh;
  display: flex;
  justify-content: space-around;

}
.name button{
  width: 100%;
  padding: 1.7vh 0;
  font-size: 1.2rem;
  background-color:green;
  border-radius: 1vh;
  border: none;
  outline: none;
  color: white;
}
.name button:hover{
  background-color:rgb(23, 154, 23);
}
.menubtn{
  display: none;
}
 .hidemenuicon{
  position: relative;
  left: 90%;
  top: 1%;
  color: white;
  display: none;
} 
.cartmenubtn{
  font-size: 2rem;
  color: green;
  position: relative;
  top: 1vh;
  display: none;
}
@media(max-width:1030px){
  .leftDiv{
    width: 32vh;
  }
  .rightDiv{
    width: 30vh;
  }

}
@media(max-width:850px){
.main{
  grid-template-columns: 1fr;
  position: relative;
}
.menubar{
  width: 35vh;
  position: absolute;
  left: -35vh;
  z-index: 100;
  transition: 0.5s all;
}
.hidemenuicon{
  display: block;
}
.menubtn{
  display: block;
}
.greet{
  display: flex;
  justify-content: center;
}
}
@media(max-width:620px){
  .rightDiv{
    display: none;
  }
  .centerDiv{
    /* position: relative; */
  grid-template-columns: 1fr;
  }

  .cart{
    width: 35vh;
    position: absolute;
    top: 0;
    left: -35vh;
    height: 100%;
    z-index: 5000;
    transition: 0.5s all; 
  }
  .cartmenubtn{
    display: block;
  }
  .cartSecond{
    height: 45vh;
  }
  .leftDiv{
    width: 100%;
  }
  .item{
    width: 24vh;
    margin: 2vh 1vh 0;
  }
  .item1{
    width: 30vh;
    height: 30vh;
    margin: 1vh;
   }
   .item1Img{
    height: 20vh;
   }
   .hpmainc{
    height: auto;
   }
   .form{
    position: static;
    width: 80%;
    margin: 4vh auto;
    padding: 1vh 0;
   }
   .name input{
    height: 3.5vh;
    font-size: 1.5vh;
   }
}
@media(max-width:470px){
  .items{
    display: flex;
    flex-direction: column;
  }
  .item{
    height: 30vh;
    width:40vh;
    margin: 2vh auto;
  }
  .leftDiv input{
    width: 60%;
  }
  .itemDetails{
    font-size:1.5rem;
    height: 8vh;
  }
  .icon{
    width: 5vh;
  }
  .homeCart{
    display: none;
  }
  .cart{
    left: -35vh;
 }
 .item1{
  width: 30vh;
  height: 30vh;
  margin: 1vh;
 }
 .item1Img{
  height: 20vh;
 }
}
@media(max-width:380px){
  .item{
    width: 33vh;
  }
}